@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




header{
    color: black;
    font-family: 'twaysky';
    width: 100%;
    margin-top: 0;
    height: 800px; /* 이미지에 맞게 세로길이를 더 크게 늘려주었어요! */
    background-image: url('남색배경.png'); /* 배경을 이미지로 지정해주는 부분입니다!
        작은따옴표 안에 원하는 사진을 넣으면 됩니다 */
    text-align: left;
    margin-bottom: 5px;
    display: block;
    }


nav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 3px;
    background-color:#181B59;

}

footer {
    border:3px solid black;
    margin: 3px; 
    text-align: center;
    font-family: 'twaysky';
}

#page_title{
    margin-top: 400px;
    margin-bottom: 20px;
    font-weight: 400; /* 글씨 두께를 좀 더 얇게 해주었어요 */
    font-size: 80px; /* 글씨 크기를 크게 80px로 했어요! */
    color: white; /* 글씨 색깔을 흰색으로 바꿔줍니다 */
    text-shadow: 2px 2px 15px gray;
    animation: fadein 3s;
    margin-left: 10px;
}
@keyframes fadein {
    from {
        opacity: 0; /* 투명도를 0부터 시작해서 */
    }
    to {
        opacity: 1; /* 1(100%)가 되면 애니메이션이 끝납니다! */
    }
}
#loginButton{
    margin-left: 90%;
    background: #181B59;
    color: white;
    border: 0;
}

#signupButton{
    background: #181B59;
    color: white;
    border: 0px;
    margin-right: 10px;
}



#info_nav{
    background: #181B59;
    width: 120px;
    height: 24px;
    font-size: 16px;
    color: white;
    border: 0;
    font-family: '국립박물관문화재단클래식B';
}



#album_nav{
    background: #181B59;
    width: 120px;
    height: 24px;
    font-size: 16px;
    color: white;
    border: 0;
    font-family: '국립박물관문화재단클래식B';
}
#info_nav:hover{
    color: gray;
    transition: all 0.5s;
}
#album_nav:hover{
    color:gray;
    transition: all 0.5s;
}
